<!-- Page Banner -->
<div class="page-banner-area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-8 col-md-12">
              <h1>
                  Job Details
              </h1>
          </div>
      </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Job Details Area -->
<div class="job-details-area ptb-100">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12">
              <div class="single-job-box">
                  <div class="d-sm-flex align-items-center justify-content-between">
                      <div class="d-sm-flex align-items-center">
                          <div class="company-logo">
                              <img src="assets/images/companies/company8.png" alt="company-image">
                          </div>
                          <div class="content">
                              <h3 class="fw-semibold">
                                  {{ job.vacancy_name }} {{job['Career level']}}
                              </h3>
                              <span class="location d-block">
                                  {{ company.nombre_empresa }}
                              </span>
                              <span class="job-type d-block">
                                  {{job['Job Type']}}
                              </span>
                          </div>
                      </div>
                      <div class="apply-btn" *ngIf="this.auth.currentUserValue.p_id_candidato">
                        <button class="default-btn" (click)="aplicarVacante()">
                            Apply
                        </button>
                    </div>
                  </div>
              </div>
              <div class="job-details-description">
                  <h3>
                    Job Requirements
                  </h3>
                  <p>{{ job.technical_requirements}}</p>
                  <h3>
                    Career Level
                  </h3>
                  <p>{{ job['Career level'] }}</p>
                  <h3>
                    Job Industry
                  </h3>
                  <p> {{ job.Industry }} </p>
                  <h3>
                    Job Qualification
                  </h3>
                  <p> {{ job.Qualification }} </p>
                  <!-- <p [innerHTML]="job"></p> -->
                  <!-- <p>
                      Enim urna pulvinar orci leo viverra. A augue nisl convallis amet pellentesque sollicitudin. Commodo volutpat euismod nec duis iaculis mattis quam diam. Sollicitudin eu mi aliquet at tellus sed pellentesque. Id non in pharetra massa urna ullamrper tempor. Leo tempus pharetra mi mattis ut porttitor viverra. Suspendisse massa eros pulvinar eu tortor semper sit. In tempusss euismod id scelerisque convallis praesent. Viverra tortor sit volutpat elementum nibh leo rhoncus viverra vestibulum. At non nunc fames vulputate nibh pharetra eu nulla aenean. Fusce pretium purus pellentesque.
                  </p>
                  <h3>
                      Job responsibilities
                  </h3>
                  <p>
                      Enim urna pulvinar orci leo viverra. A augue nisl convallis amet pellentesque sollicitudin. Commodo volutpat euismod nec duis iaculis mattis quam diam. Sollicitudin eu mi aliquet at tellus sed pellentesque. Id non in pharetra massa urna.
                  </p>
                  <ul>
                      <li>
                          Produce outline designs
                      </li>
                      <li>
                          Test and evaluate theoretical designs
                      </li>
                      <li>
                          Estimate budget and scope of project
                      </li>
                      <li>
                          Solicit observations from operators
                      </li>
                      <li>
                          Prepare product reports and documentation
                      </li>
                      <li>
                          Engage in lifelong learning and develop new theories or methods
                      </li>
                  </ul>
                  <h3>
                      Job requirements
                  </h3>
                  <ul>
                      <li>
                          Proven working experience in mechanical engineering
                      </li>
                      <li>
                          Hands-on experience with computer-aided engineering (CAM) and computer-aided manufacturing (CAE)
                      </li>
                      <li>
                          Familiarity with 2D or 3D engineering design and manufacturing tools (e.g., AutoCAD, ProE or other)
                      </li>
                      <li>
                          Adequate knowledge of engineering analysis tools (ANSYS, ProMechanica or similar)
                      </li>
                      <li>
                          Mathematical computing and analysis tools knowledge (Matlab, Excel, LabView etc)
                      </li>
                  </ul>
                  <h3>
                      Compensation & other benefits
                  </h3>
                  <ul>
                      <li>
                          A career in mechanical engineering allows you to build a better future for you, and for the world.
                      </li>
                      <li>
                          This explains why 89% of engineers have high levels of job satisfaction, and would choose the same career path again.
                      </li>
                      <li>
                          85% of engineering graduates go on to further study.
                      </li>
                      <li>
                          Or you could create an invention that changes the world.
                      </li>
                  </ul>
                  <h3>
                      Additional requirements
                  </h3>
                  <p>
                      Enim urna pulvinar orci leo viverra. A augue nisl convallis amet pellentesque sollicitudin. Commodo volutpat euismod nec duis iaculis mattis quam diam. Sollicitudin eu mi aliquet at tellus sed pellentesque. Id non in pharetra massa urna.
                  </p>
                  <ul>
                      <li>
                          Leo tempus pharetra mi mattis ut porttitor viverra.
                      </li>
                      <li>
                          Suspendisse massa eros pulvinar eu tortor semper sit.
                      </li>
                      <li>
                          At non nunc fames vulputate nibh pharetra eu nulla aenean.
                      </li>
                      <li>
                          Fusce pretium purus pellentesque faucibus sed neque diam a maecenas.
                      </li>
                  </ul>
                  <h3>
                      How to apply
                  </h3>
                  <p>
                      Interested candidates can submit their resume and cover letter to <a href="mailto:hello@jove.com">hello&#64;jove.com</a> with the subject line "Mechanical Engineer". Please include your portfolio or GitHub repository, if applicable.
                  </p> -->
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <aside class="sidebar-area">
                  <div class="box">
                      <h3>
                          Job summary
                      </h3>
                      <ul class="job-summary ps-0 mb-0 list-unstyled">
                          <!-- <li>
                              <span class="fw-medium">Published on:</span> 29 Oct 2023
                          </li> -->
                          <!-- <li>
                              <span class="fw-medium">Vacancy:</span> 01
                          </li> -->
                          <li>
                              <span class="fw-medium">Job type:</span> {{ job['Job Type'] }}
                          </li>
                          <li>
                              <span class="fw-medium">Experience:</span> {{ job.Experience }}
                          </li>
                          <li>
                              <span class="fw-medium">Job location:</span> {{ job.City }}, {{ job.Country }}
                          </li>
                          <li>
                              <span class="fw-medium">Category:</span> {{ job.Specialisms }}
                          </li>
                          <li>
                              <span class="fw-medium">Gender:</span> {{ job.Gender }}
                          </li>
                          <li>
                              <span class="fw-medium">Salary:</span> {{ job['Offered salary (monthly)'] }}
                          </li>
                          <li>
                              <span class="fw-medium">Application deadline:</span> {{ job['Application deadline date']}}
                          </li>
                      </ul>
                  </div>
                  <div class="box">
                      <h3>
                          Job location
                      </h3>
                      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.0527637848595!2d-0.012178123402697727!3d51.12593477172904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875f6256d342681%3A0xb7244723d598f71b!2sRoyal%20Mail!5e0!3m2!1sen!2sbd!4v1696155184932!5m2!1sen!2sbd"></iframe> -->
                      <iframe [src]='getMapURL() | safe'></iframe>
                  </div>

              </aside>
          </div>
      </div>
      <div class="row" *ngIf="origen == 1">
        <div class="col-12 text-end">
          <button class="default-btn" (click)="goBack()">
              Back
          </button>
      </div>
  </div>
</div>

<ngx-scrolltop></ngx-scrolltop>
