<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        My Resume
    </h1>
</div>

<!-- Resume -->
<!-- <div class="jove-card">
    <h3 class="title">
        Personal Details
    </h3>
    <form [formGroup]="frmPersonal">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        First name
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="nombre"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.nombre.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Last name
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="apellido"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.apellido.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Email address
                    </label>
                    <input type="email" class="form-control shadow-none" formControlName="email"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.email.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Phone
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="telefono"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.telefono.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Gender
                    </label>
                    <select class="form-select shadow-none" formControlName="genero"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.genero.value == 0 }">
                      <option selected value="0">Select</option>
                      <option *ngFor="let item of arrGenero" [value]="item.id_genero">
                        {{ item.descripcion }}
                  </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Country
                    </label>
                    <select class="form-select shadow-none" formControlName="pais"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.pais.value == 0 }">
                      <option selected value="0">Select</option>
                      <option *ngFor="let item of arrPais" [value]="item.id_pais">
                        {{ item.descripcion }}
                      </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Address details
                    </label>
                    <textarea class="form-control shadow-none" cols="30" rows="8" formControlName="direccion"
                    [ngClass]="{ 'is-invalid': submittedPersonal && f.direccion.value == '' }"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="default-btn" (click)="savePersonalDetails()">
            Save
        </button>
    </form>
</div> -->
<div class="jove-card">
    <h3 class="title">
        Career & Application Information
    </h3>
    <form [formGroup]="frmCareer">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Objective
                    </label>
                    <textarea class="form-control shadow-none" cols="30" rows="7" formControlName="objetivo"
                    [ngClass]="{ 'is-invalid': submittedCareer && f.objetivo.value == '' }"></textarea>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Present salary
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="salarioActual"
                    [ngClass]="{ 'is-invalid': submittedCareer && f.salarioActual.value == '' }">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Expected salary
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="salarioEsperado"
                    [ngClass]="{ 'is-invalid': submittedCareer && f.salarioEsperado.value == '' }">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Job type
                    </label>
                    <select class="form-select shadow-none" formControlName="tipo"
                    [ngClass]="{ 'is-invalid': submittedCareer && f.tipo.value == 0 }">
                      <option selected value="0">Select</option>
                      <option *ngFor="let item of arrTipoTrabajo" [value]="item.id_tipo_trabajo">
                        {{ item.descripcion }}
                      </option>
                  </select>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Vacant category
                    </label>
                    <select class="form-select shadow-none" formControlName="categoria"
                    [ngClass]="{ 'is-invalid': submittedCareer && f.categoria.value == 0 }">
                    <option selected>All</option>
                    <option *ngFor="let item of arrCategorias; let i = index;" [value]="item.id_categoria">
                        {{ item.nombre_categoria }}
                    </option>
                  </select>
                  
                </div>
            </div>
            
        </div>
        <button type="button" class="default-btn" (click)="saveCareer()">
            Save
        </button>
    </form>
</div>
<div class="jove-card">
    <h3 class="title">
        Education
    </h3>
    <form [formGroup]="frmEducation">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Level of education
                    </label>
                    <select class="form-select shadow-none" formControlName="grado"
                    [ngClass]="{ 'is-invalid': submittedEducation && fe.grado.value == 0 }">
                      <option value="0" selected>Select</option>
                      <option *ngFor="let item of arrGradoEscolar" [value]="item.id_grado_escolar">
                        {{ item.descripcion }}
                      </option>

                    </select>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Institute name
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="instituto"
                    [ngClass]="{ 'is-invalid': submittedEducation && fe.instituto.value == 0 }">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Year of passing
                    </label>
                    <select class="form-select shadow-none">
                        <option value="1" selected>Select</option>
                        <option value="2">2023</option>
                        <option value="3">2022</option>
                        <option value="4">2021</option>
                    </select>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="form-group">
                    <label>
                        Duration (years)
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="duracion"
                    [ngClass]="{ 'is-invalid': submittedEducation && fe.grado.value == 0 }">
                </div>
            </div>
        </div>
        <button type="button" class="default-btn" (click)="saveEducation()">
            Save
        </button>
    </form>
    <div class="row jobs-applied-recently mt-5">
      <div class="col-xxl-6 col-12 col-sm-12" *ngFor="let item of arrEstudios">
          <div class="single-job-box">
              <div class="d-sm-flex align-items-center justify-content-between">
                  <div class="d-sm-flex align-items-center">
                      <div class="content">
                          <h3 class="fw-semibold">
                              {{ item.instituto }}
                          </h3>
                          <span class="location d-block">
                             {{ item.grado }}
                          </span>
                          <span class="job-type d-block mb-3">
                              {{ item.duracion }} years
                          </span>
                      </div>
                  </div>
                  <div class="custom-info d-sm-flex align-items-center">
                      <ul class="ps-0 mb-0 list-unstyled">
                          <li class="d-inline-block">
                              <button type="button" class="d-inline-block rounded-circle" (click)="fillEducation(item)">
                                  <i class="ri-edit-line"></i>
                              </button>
                          </li>
                          <!-- <li class="d-inline-block">
                              <button type="button" class="d-inline-block rounded-circle">
                                  <i class="ri-check-line"></i>
                              </button>
                          </li> -->
                          <li class="d-inline-block">
                              <button type="button" class="d-inline-block rounded-circle" (click)="deleteEducation(item)">
                                  <i class="ri-close-line"></i>
                              </button>
                          </li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
    </div>
</div>
<div class="jove-card">
    <h3 class="title">
        Experience
    </h3>
    <form [formGroup]="frmExperience">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Company name
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="empresa"
                    [ngClass]="{ 'is-invalid': submittedExperience && fex.empresa.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Company business
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="giro"
                    [ngClass]="{ 'is-invalid': submittedExperience && fex.giro.value == '' }">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Designation
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Department
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Responsibilities
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="responsabilidades"
                    [ngClass]="{ 'is-invalid': submittedExperience && fex.responsabilidades.value == '' }">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Company location
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Employment period
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="periodo"
                    [ngClass]="{ 'is-invalid': submittedCareer && fex.periodo.value == '' }">
                </div>
            </div>
        </div>
        <button type="button" class="default-btn" (click)="saveExperience()">
            Save
        </button>
    </form>
    <div class="row jobs-applied-recently mt-5">
      <div class="col-xxl-6 col-12 col-sm-12" *ngFor="let item of arrExperiencias">
          <div class="single-job-box">
              <div class="d-sm-flex align-items-center justify-content-between">
                  <div class="d-sm-flex align-items-center">
                      <div class="content">
                          <h3 class="fw-semibold">
                              {{ item.empresa }}
                          </h3>
                          <span class="location d-block">
                             {{ item.giro }}
                          </span>
                          <span class="job-type d-block mb-3">
                              {{ item.periodo }}
                          </span>
                      </div>
                  </div>
                  <div class="d-sm-flex align-items-center">
                      <div class="content">
                          <span class="location d-block">
                             {{ item.responsabilidades }}
                          </span>
                      </div>
                  </div>
                  <div class="custom-info d-sm-flex align-items-center">
                      <ul class="ps-0 mb-0 list-unstyled">
                          <li class="d-inline-block">
                              <button type="button" class="d-inline-block rounded-circle" (click)="fillExperience(item)">
                                  <i class="ri-edit-line"></i>
                              </button>
                          </li>
                          <!-- <li class="d-inline-block">
                              <button type="button" class="d-inline-block rounded-circle">
                                  <i class="ri-check-line"></i>
                              </button>
                          </li> -->
                          <li class="d-inline-block">
                              <button type="button" class="d-inline-block rounded-circle" (click)="deleteExperience(item)">
                                  <i class="ri-close-line"></i>
                              </button>
                          </li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
    </div>
</div>
