<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        Post A New Job!
    </h1>
</div>

<!-- Post A New Job -->
<div class="jove-card">
    <form [formGroup]="frmJob">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Job title
                    </label>
                    <input type="text" class="form-control shadow-none" placeholder="Title" formControlName="p_titulo_vacante"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_titulo_vacante.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label>
                        AI
                    </label>
                    <textarea class="form-control shadow-none" cols="30" rows="8" placeholder="Write message to AI" formControlName="p_descripcion_vacante_send"></textarea>
                    <div class="row">
                      <div class="col-12 text-end">
                        <button type="button" class="default-btn mt-3" (click)= "postCrearVacante($event.target, txtJob)" *ngIf="showSendIA" >
                          Send message to AI
                        </button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-group">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <label>
                      Job description
                  </label>
                </div>
                  <textarea #txtJob class="form-control shadow-none" cols="30" rows="8" placeholder="" [value]="displayedText"></textarea>
                  <!-- <div class="tw"></div> -->
                  <!-- <div class="typewriter">
                    <p>{{ displayedText }}</p>
                  </div> -->
              </div>
          </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Email address
                    </label>
                    <input type="email" class="form-control shadow-none" formControlName="p_email"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_email.value == '' }">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Username
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="nombre_empresa"
                    [ngClass]="{ 'is-invalid': submitted && fCo.nombre_empresa.value == '' }">
                </div>
            </div> -->
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Specialisms
                    </label>
                    <select class="form-select shadow-none"  formControlName="p_id_categoria"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_categoria.value == '' }">
                        <option selected>Category</option>
                        <option *ngFor="let item of arrCategorias; let i = index;" [value]="item.id_categoria">
                          {{ item.descripcion }}
                      </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Job type
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_tipo_trabajo"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_tipo_trabajo.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrTipoTrabajo" [value]="item.id_tipo_trabajo">
                          {{ item.descripcion }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Offered salary (monthly)
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_salario"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_salario.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrSalarios" [value]="item.id_salario">
                          {{ item.rango }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Career level
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_nivel_profesional"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_nivel_profesional.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrNivelProfesional" [value]="item.id_nivel_profesional">
                          {{ item.descripcion }}
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Experience
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_experiencia"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_experiencia.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrExperiencias" [value]="item.id_experiencia">
                          {{ item.descripcion }}
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Gender
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_genero"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_genero.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrGenero" [value]="item.id_genero">
                          {{ item.descripcion }}
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Industry
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_industria"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_industria.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrIndustrias" [value]="item.id_industria">
                          {{ item.descripcion }}
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Qualification
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_grado_escolar"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_grado_escolar.value == '' }">
                        <option selected>Select</option>
                        <option *ngFor="let item of arrGradoEscolar" [value]="item.id_grado_escolar">
                          {{ item.descripcion }}
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Application deadline date
                    </label>
                    <input type="text" class="form-control shadow-none" placeholder="" formControlName="p_fecha_limite_solicitud"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_fecha_limite_solicitud.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Country
                    </label>
                    <select class="form-select shadow-none" (change)="getCiudades($event.target.value)" formControlName="p_id_pais"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_pais.value == '' }">
                      <option value="0" selected>Select</option>
                      <option *ngFor="let item of arrPais" [value]="item.id_pais">
                        {{ item.descripcion }}
                      </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        City
                    </label>
                    <select class="form-select shadow-none" formControlName="p_id_ciudad"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_id_ciudad.value == '' }">
                      <option *ngFor="let item of arrCiudades" [value]="item.id_ciudad">
                        {{ item.descripcion }}
                      </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label>
                        Complete address
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="p_direccion"
                    [ngClass]="{ 'is-invalid': submitted && fCo.p_direccion.value == '' }">
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Latitude
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Longitude
                    </label>
                    <input type="text" class="form-control shadow-none">
                </div>
            </div> -->
        </div>
        <button type="submit" class="default-btn" (click)="registroVacante(txtJob)">
            Next
        </button>
    </form>
</div>
