<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        All Applicants
    </h1>
</div>

<!-- All Applicants -->
<div class="jove-card">
    <div class="row recent-applicants">
        <div class="col-xxl-6" *ngFor="let item of arrAplicantes">
            <div class="single-candidate-box d-sm-flex align-items-center justify-content-between">
                <div class="d-sm-flex align-items-center">
                    <div class="image">
                        <img src="assets/images/candidates/candidate1.jpg" class="rounded-circle" alt="candidate-image">
                    </div>
                    <div class="content">
                        <h3 class="fw-semibold">
                                {{ item.nombre_candidato }} {{ item.apellido_candidato }}
                        </h3>
                        <span class="designation d-block">
                            {{ item.email_candidato }}
                        </span>
                        <span class="location d-block">
                            <span>Location:</span> {{item.ciudad}}, {{item.pais}}
                        </span>
                    </div>
                </div>
                <div class="view-profile d-sm-flex align-items-center">
                    <span class="d-block">
                        {{item.sueldo_esperado | currency}}
                    </span>
                    <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center">
                        <li class="d-inline-block">
                            <button type="button" class="d-inline-block rounded-circle" (click)="openPopup(item)">
                                <i class="ri-eye-line"></i>
                            </button>
                        </li>
                        <li class="d-inline-block">
                            <button type="button" class="d-inline-block rounded-circle">
                                <i class="ri-check-line"></i>
                            </button>
                        </li>
                        <li class="d-inline-block">
                            <button type="button" class="d-inline-block rounded-circle">
                                <i class="ri-close-line"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade loginRegisterModal" tabindex="-1" aria-hidden="true" *ngIf="isOpen">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <app-modal-candidate-details [aplicante]="aplicante"></app-modal-candidate-details>
        <button (click)="closePopup()" type="button" class="close-btn">
          <i class="ri-close-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>
