<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        Change Password
    </h1>
</div>

<!-- Change Password -->
<div class="jove-card">
    <form [formGroup]="frm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        New password
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.value == '' }">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>
                        Confirm password
                    </label>
                    <input type="text" class="form-control shadow-none" formControlName="new_password"
                    [ngClass]="{ 'is-invalid': submitted && f.new_password.value == '' }">
                </div>
            </div>
            <div class="col-12 text-end">
              <button type="button" class="default-btn" (click)="updatePassword()">
                  Update
              </button>
            </div>
        </div>
    </form>
</div>
