<div class="jobs-by-location-area overflow-hidden ptb-100">
    <div class="container">
        <div class="section-title text-start">
            <h2 class="mb-0">
                Jobs by location
            </h2>
        </div>
    </div>
    <div class="container-fluid jobsByLocationSlides" data-aos="fade-up" data-aos-duration="500" *ngIf="arrPais.length > 0">
        <owl-carousel-o [options]="jobsByLocationSlides">
          <ng-container *ngFor="let item of arrPais">
            <ng-template carouselSlide [id]="item.id_pais">
                <div class="job-item">
                    <a routerLink="/jobs-grid" class="d-block image">
                        <img src="assets/images/locations/location1.jpg" alt="location-image">
                    </a>
                    <h3 class="fw-semibold">
                        <a routerLink="/jobs-grid">
                            {{ item.descripcion }}
                        </a>
                    </h3>
                    <span class="d-block">
                        Open jobs
                        <span>(0)</span>
                    </span>
                </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
    </div>
</div>
