<aside class="widget-area">
    <div
        class="widget"
        *ngIf="router.url === '/candidates'"
    >
        <h3 class="widget-title fw-semibold">
            Search by keywords
        </h3>
        <form class="search-box position-relative">
            <input type="text" class="input-search" placeholder="Search....">
            <button type="submit">
                <i class="ri-search-line"></i>
            </button>
        </form>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Job type
        </h3>
        <ul class="ps-0 mb-0 list-unstyled">
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="jobTypeOptions" id="jb-all">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="jb-all">
                       All
                    </label>
                </div>
            </li>
            <li *ngFor="let item of arrTipoTrabajo">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="jobTypeOptions" id="jb-full-time">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="jb-full-time">
                        {{ item.descripcion }} <span>(0)</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Date posted
        </h3>
        <ul class="ps-0 mb-0 list-unstyled">
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="datePostedOptions" id="dp-all">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="dp-all">
                       All
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="datePostedOptions" id="dp-last-hour">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="dp-last-hour">
                        Last hour
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="datePostedOptions" id="dp-twenty-four-hours">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="dp-twenty-four-hours">
                        Last 24 hours
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="datePostedOptions" id="dp-last-seven-days">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="dp-last-seven-days">
                        Last 7 days
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="datePostedOptions" id="dp-last-fifteen-days">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="dp-last-fifteen-days">
                        Last 15 days
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="datePostedOptions" id="dp-last-thirty-days">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="dp-last-thirty-days">
                        Last 30 days
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Salary
        </h3>
        <select class="form-select shadow-none">
          <option selected>Select</option>
          <option *ngFor="let item of arrSalarios" [value]="item.id_salario">
            {{ item.rango }}
          </option>
      </select>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Career level
        </h3>
        <ul class="ps-0 mb-0 list-unstyled">
            <li *ngFor="let item of arrNivelProfesional">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="careerLevelOptions" id="cl-manager">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="cl-manager">
                        {{item.descripcion}}
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Experience
        </h3>
        <ul class="ps-0 mb-0 list-unstyled">
            <li *ngFor="let item of arrExperiencias">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="experienceOptions" id="experience-fresher">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="experience-fresher">
                        {{ item.descripcion}}
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Qualifications
        </h3>
        <ul class="ps-0 mb-0 list-unstyled">
            <li *ngFor="let item of arrGradoEscolar">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="qualificationsOptions" id="qualifications-certificate">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="qualifications-certificate">
                        {{ item.descripcion }}
                    </label>
                </div>
            </li>

        </ul>
    </div>
    <div class="widget">
        <h3 class="widget-title fw-semibold">
            Gender
        </h3>
        <ul class="ps-0 mb-0 list-unstyled">
            <li *ngFor="let item of arrGenero">
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="genderOptions" id="gender-male">
                    <label class="form-check-label d-flex align-items-center justify-content-between" for="gender-male">
                        {{item.descripcion}}
                    </label>
                </div>
            </li>
        </ul>
    </div>
</aside>
