<div class="bg-image">

    <!-- Banner Area -->
    <div class="banner-area position-relative ptb-100 z-1 overflow-hidden d-flex justify-content-center align-items-center">
      <video id="background-video" autoplay loop muted>
        <source src="assets/video/3191887-uhd_3840_2160_25fps.mp4" type="video/mp4">
      </video>
        <div class="container">
            <div class="banner-content text-center mx-auto" data-aos="fade-up" data-aos-duration="500">
                <h1 class="text-white title">
                  ¡Encuentra al candidato ideal para tu <span class="text-primary">empresa</span>!
                </h1>
            </div>
        </div>
    </div>


</div>
