.partners-area {
    background-color: var(--primaryColor);
    padding: {
        top: 50px;
        bottom: 50px;
    };
    .container-fluid {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
    .section-title {
        max-width: 100%;
        margin-bottom: 0;
        padding-right: 0 !important;

        h2 {
            color: var(--whiteColor);
        }
    }
}
::ng-deep {
    .owl-carousel {
        .owl-item {
            text-align: center;

            img {
                width: auto !important;
                display: inline-block !important;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .partners-area {
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
        .section-title {
            margin-bottom: 25px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .partners-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .partners-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
        .section-title {
            margin-bottom: 35px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .partners-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .partners-area {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .partners-area {
        .container-fluid {
            max-width: 1920px;
            padding: {
                left: 150px;
                right: 150px;
            };
        }
    }

}