<!-- Title -->
<div class="breadcrumb-title">
    <h1 class="mb-0 fw-semibold">
        Applied Jobs
    </h1>
</div>

<!-- Jobs Applied Recently -->
<div class="jove-card">
    <div class="row jobs-applied-recently">
        <div class="col-xxl-12" *ngFor="let item of arrVacantes">
            <div class="single-job-box">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="d-sm-flex align-items-center">
                        <div class="image">
                            <img src="assets/images/companies/company16.png" alt="company-image">
                        </div>
                        <div class="content">
                            <h3 class="fw-semibold">
                                <a routerLink="/job-details">
                                    {{item.titulo_vacante}}
                                </a>
                            </h3>
                            <span class="location d-block">
                                {{item.nombre_ciudad}},  {{item.nombre_pais}}
                            </span>
                            <span class="job-type d-block">
                                {{item.nombre_tipo_trabajo}}
                            </span>
                        </div>
                    </div>
                    <div class="custom-info d-sm-flex align-items-center">
                        <span class="active fw-medium d-block">
                            Active
                        </span>
                        <ul class="ps-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-eye-line"></i>
                                </button>
                            </li>
                            <!-- <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-check-line"></i>
                                </button>
                            </li> -->
                            <li class="d-inline-block">
                                <button type="button" class="d-inline-block rounded-circle">
                                    <i class="ri-close-line"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="info d-sm-flex align-items-center justify-content-between">
                    <span class="salary d-block">
                        <span class="fw-semibold">Salary:</span>
                        <span>{{item.rango}}</span>
                        /monthly
                    </span>
                    <span class="created d-block">
                        <span class="fw-semibold">Created:</span>
                        {{item.fecha_registro_vacante | date: 'dd/MM/yyyy'}}
                    </span>
                    <span class="deadline d-block">
                        <span class="fw-semibold">Deadline:</span>
                        {{item.fecha_limite_solicitud | date: 'dd/MM/yyyy'}}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
