<app-navbar></app-navbar>

<app-homeone-banner></app-homeone-banner>

<app-leading-company></app-leading-company>

<app-pricing></app-pricing>

<app-tan-simple-como></app-tan-simple-como>

<div class="container-fluid empresas">
  <div class="row mt-5 mb-5">
    <div class="col-12 text-center">
      <h1 class="title mt-5 mb-5">Las compañías líderes en el país prefieren
        <span class="text-primary">Reclútame</span>. <br>¡Estamos listos para ayudarte!</h1>
    </div>
    <div class="col-12 col-md-3 text-center mt-5 mb-5 ">
      <h2>XXXXXXXXX</h2>
      <p>Usuarios de RECLUTAME
        buscando empleo </p>
    </div>
    <div class="col-12 col-md-3 text-center mt-5 mb-5">
      <h2>XXXXXXXXX</h2>
      <p>Curriculums accesibles
        para tu empresa </p>
    </div>
    <div class="col-12 col-md-3 text-center mt-5 mb-5">
      <h2>XXXXXXXXX</h2>
      <p>Empresas que confian
        en RECLUTAME</p>
    </div>
    <div class="col-12 col-md-3 text-center mt-5 mb-5">
      <h2>XXXXXXXXX</h2>
      <p>Postulaciones diarias</p>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ngx-scrolltop></ngx-scrolltop>
