.empresas {
  background-color: var(--tertiaryColor);
}

.title {
  font-size: 48px;
  color: var(--secondaryColor) !important;
  .text-primary {
    color: var(--primaryColor) !important;
  }
}

h2 {
  font-size: 48px;
  color: var(--secondaryColor) !important;
}

p {
  font-size: 24px;
  color: var(--secondaryColor) !important;
}

